a{
    color: #fff;
    text-decoration: none !important;
    }

  a:hover{
    color: #fff;
  }

  .search{
    height: 300px;
    background-image: url("./shows.jpg");
    position: relative;
}

.searchInp{
    height: 50px;
    border-radius: 10px;
}
.layer{
   background-color:rgba(0, 0, 0, 0.6);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0; 
}


.topSearch{
    font-weight: bold;
}

.title{
    margin-top: 30px;
}

.trendSpan{
    font-size: 20px;
    padding-right: 10px;

}

.item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
   }

.item h6{
    background: rgba(199, 199, 204 , 0.4) ;
    color: #fff;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 0;
    border-radius: 5px;
}

.item img{
    border-radius: 5px;

}

.vote{
    background-color: #24baef;;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    z-index: 1;
}

.desc{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
    padding-top: 15%;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: top 0.5s;
}

.item:hover .desc{
    top: 0;
}

